@import "bootstrap/scss/bootstrap";

.cursor-pointer {
    cursor: pointer;
}

crawler-display, crawler-display-index {
    tr:hover {
        td, th {
            background-color: var(--bs-gray-100);
        }
    }
}
